<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xcats.firstbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateProfileActivity"/>
        <activity android:name=".CreateProfileActivity2"/>
        <activity android:name=".ViewTeamsActivity"/>
        <activity android:name=".ViewSubTeamsActivity"/>
        <activity android:name=".ViewMembersActivity"/>
        <activity android:name=".ViewProfileActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".SearchPartTwoActivity"/>
        <provider android:name=".Database.DirectoryProvider"
            android:authorities="com.xcats.firstbook.provider.Directory"/>
    </application>

</manifest>
